@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");

* {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  background-color: #f0f0f0;
}

header {
  background-color: #bcac9b;
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
header img {
  max-width: 75%;
}

.header {
  margin: auto;
}

.menu {
  height: 100%;
  text-align: right;
  margin: auto 0;
}
.menu ul li {
  display: inline-block;
  margin-left: 25px;
  margin-top: 20px;
}

.menu ul li a {
  color: #fff;
  font-family: "Roboto", sans-serif;
}
.menu ul li a:hover {
  text-decoration: none;
}

/* Secao slide de fotos*/
.slide-geral {
  margin-top: 113px;
}

/* Missão */
.missao {
  text-align: center;
}

.missao .sup {
  font-size: 0.9rem;
  max-width: 720px;
  margin: 1rem auto 0 auto;
}

button {
  background-color: #355070;
  border: none;
  border-radius: 5px;
  color: #fff;
  margin-top: 1.5rem;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
}
button:hover {
  background-color: #293d57;
  -webkit-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.5);
}
button:focus {
  outline: none;
}

/*Subtitulo*/
.subtitulo {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  margin-top: 1.2rem;
}

.subtitulo::after {
  background: #000;
  content: "";
  display: block;
  height: 3px;
  margin: 8px auto;
  width: 95px;
}

.white {
  color: #fff;
}
.white::after {
  background-color: #fff;
  content: "";
  display: block;
  height: 3px;
  margin: 8px auto;
  width: 95px;
}

/*video*/
.se-video {
  background-color: #355070;
  margin-top: 60px;
  text-align: center;
}

.video {
  margin-bottom: 40px;
  margin-top: 1.5rem;
}

/*servicos*/
.servicos {
  padding: 60px 0;
  text-align: center;
}
.servicos-lista {
  padding-top: 15px;
}
.servicos-lista li {
  background: #2a3d45;
  border-radius: 4px;
}

.servicos-lista li h3 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 25px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

/*.servicos-lista li h3::after {
  background: #fff;
  content: "";
  display: block;
  height: 3px;
  margin: 2px auto;
  width: 60px;
} */

.servico-icone {
  padding: 20px;
}

.servico-icone img {
  display: inline;
}

.depoimentos {
  background: #355070;
}

.quote-clientes {
  color: #fff;
  margin: 0 auto;
  padding: 20px 0;
}

.quote-clientes p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: italic;
  line-height: 25px;
  margin-bottom: 20px;
  text-align: center;
}

.quote-clientes cite {
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  float: right;
}
