@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  background-color: #f0f0f0;
}

header {
  background-color: #bcac9b;
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
header img {
  max-width: 75%;
}

.header {
  margin: auto;
}

.menu {
  height: 100%;
  text-align: right;
  margin: auto 0;
}
.menu ul li {
  display: inline-block;
  margin-left: 25px;
  margin-top: 20px;
}

.menu ul li a {
  color: #fff;
  font-family: "Roboto", sans-serif;
}
.menu ul li a:hover {
  text-decoration: none;
}

/* Secao slide de fotos*/
.slide-geral {
  margin-top: 113px;
}

/* Missão */
.missao {
  text-align: center;
}

.missao .sup {
  font-size: 0.9rem;
  max-width: 720px;
  margin: 1rem auto 0 auto;
}

button {
  background-color: #3b597d;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 0.5rem 0.75rem;
}
button:hover {
  background-color: #293d57;
  -webkit-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.5);
}
button:focus {
  outline: none;
}
.missao button {
  margin-top: 1.5rem;
}

/*Subtitulo*/
.subtitulo {
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-top: 1.2rem;
}

.subtitulo::after {
  background: #000;
  content: "";
  display: block;
  height: 3px;
  margin: 8px auto;
  width: 95px;
}

.white {
  color: #fff;
}
.white::after {
  background-color: #fff;
  content: "";
  display: block;
  height: 3px;
  margin: 8px auto;
  width: 95px;
}

/*video*/
.se-video {
  background-color: #355070;
  margin-top: 60px;
  text-align: center;
}

.video {
  margin-bottom: 40px;
  margin-top: 1.5rem;
}

/*servicos*/
.servicos {
  margin-top: 20px;
}

.card {
  background-color: #2a3d45;
  border-radius: 4px;
  color: #fff;
}
.card figure {
  border-radius: 4px;
  padding: 10px 0;
  max-width: 100%;
  max-height: 80%;
  overflow: hidden;
}
.card img {
  width: 100%;
}
